
<div class="row">
    <div class="col-md-offset-3 col-md-4">

        <form class="form-login" role="form">
            <h2 class="form-login-heading">Sign up</h2>
            <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.Email" required autofocus>
            <button class="btn btn-lg btn-success btn-block" type="submit" data-ng-click="signUp()">Submit</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>

    </div>
</div>

